.up{
	width:100%;
	height:60px;
	padding:0px;box-sizing: border-box;
	background-color: #202939;
	box-shadow: 0 1px 10px #2a3445;
}

.up > div{
	float:left;
}

.up .logo{
	width: 100px;margin-top: 10px;margin-left: 16px;
}

.up .logo img{
	width: 40px;height: 40px;background-size:100%; 
}

.left{
	width:190px;height:91.8%;
	float:left;
	overflow:auto;
	background-color: #3C4B64;
}

.left .in{
	width:100%;height:100%;min-width: 150px;/* 190 */
	padding: 15px;box-sizing: border-box;
}

.right{
	width: 100%;
    height: 100%;
    position: absolute;top: 0px;
    left: 0px;
    z-index: -1;
    border: 0px;
    border-top: 60px solid #ebeff2;
    border-left: 190px solid #ebeff2;
    box-sizing: border-box;
	background-color: #ebeff2;
}

.right .in{
	width:100%;height:100%;min-width: 1216px;/* 1280 */
	padding: 15px;box-sizing: border-box;
}

.hrms-menu-out{
	line-height: 60px;	
	height:100%;
}

.hrms-menu{
	
}
.hrms-menu-item{
	float:left;
	margin-right: 46px;
	font-size: 13px;
	color: #ddd;
	cursor: pointer;
}

.hrms-menu-item:hover{
	color: #fff;
}

.hrms-menu-item-selected{
	color:#fff;
	border-bottom: 3px solid #fff!important;
	box-sizing: border-box;
	height: 60px;
    width: 45px;
    text-align: center;
}