.up{
	width:100%;
	height:60px;
	padding:0px;box-sizing: border-box;
	background-color: #202939;
	box-shadow: 0 1px 10px #2a3445;
	position: absolute;top:0px;left:0px;z-index:100;
}

.up > div{
	float:left;
}

.up .logo{
	width: 100px;margin-top: 10px;margin-left: 16px;
}

.up .logo img{
	width: 40px;height: 40px;background-size:100%; 
}

.left{
    width: 190px;
    height: 100%;
    position: absolute;
    top: 0px;
    overflow: auto;
    background-color: #3C4B64;
    left: 0px;
    border-top: 60px solid #fff;box-sizing: border-box;
    z-index: 99;
}

.left .in{
	width:100%;height:100%;min-width: 150px;/* 190 */
	box-sizing: border-box;
}

.right{
	width: 100%;
    height: 100%;
    position: absolute;top: 0px;
    left: 0px;
    z-index: 98;
    border: 0px;
    border-top: 60px solid #ebeff2;
    border-left: 190px solid #ebeff2;
    box-sizing: border-box;
	background-color: #ebeff2;
}

.right .in{
	width:100%;height:100%;/* 1280 */
	padding: 15px;box-sizing: border-box;
}

.hrms-menu-out{
	line-height: 60px;	
	height:100%;
}

.hrms-menu{
	
}
.hrms-menu-item{
	float:left;
	margin-right: 46px;
	font-size: 13px;
	color: #ddd;
	cursor: pointer;
}

.hrms-menu-item:hover{
	color: #fff;
}

.hrms-menu-item-selected{
	color:#fff;
	border-bottom: 3px solid #fff!important;
	box-sizing: border-box;
	height: 60px;
    width: 45px;
    text-align: center;
}


.hrms-submenu{
	    padding-top: 16px;
}

.hrms-submenu .hrms-submenu-item{
    color: #fff;width:190px;box-sizing: border-box;height:36px;
    cursor: pointer;
}

.hrms-submenu .hrms-submenu-item:hover{
	background-color: #2a3445;
}

.hrms-submenu .hrms-submenu-item .text{
	float: left;
    height: 36px;
    font-size: 13px;
    padding: 8px;
}

.hrms-submenu .hrms-submenu-item .icon{
	float: left;
    margin-left: 16px;width:32px;
}

.hrms-submenu .hrms-submenu-itemselected .icon{
	float: left;
    margin-left: 12px;width:32px;
}

.hrms-submenu .hrms-submenu-item img{
	    width: 20px;
    height: 20px;
    margin-top: 8px;
}

.hrms-submenu .hrms-submenu-itemselected{
	background: #2a3445;border-left: 4px solid #32b5c5;
}