.up{
	width:100%;
	height:10%;
	
	background-color: #FFEBCD;
}

.left{
	width:15%;height:90%;
	float:left;
	overflow:auto;
	background-color: #EEE8CD;
}

.left .in{
	width:100%;height:100%;min-width: 150px;
}

.right{
	width:85%;height:90%;
	float:left;
	overflow:auto;
	background-color: #CFCFCF;
}

.right .in{
	width:100%;height:100%;min-width: 1200px;
}