body {
    font-family: SF UI Display,PingFang SC,Neue Haas Grotesk Text Pro,Arial Nova,Segoe UI,Microsoft YaHei,Microsoft JhengHei,Helvetica,Hiragino Sans GB,Helvetica Neue,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,sans-serif!important;
	background-color: #E5E9ED;font-size: 13px;
}

.head{
	height: 60px;width: 100%;background-color: #202939;
	padding:10px 0px 10px 0px;
	position: relative;
	box-shadow: 0 1px 10px #2a3445;
}

.head .logo{
	background-image: url("/plant-admin/static/images/logo.png");width:40px;height:40px;background-size:100%;
	position: absolute;left:20px;top:10px;
}

.left{
	width: 190px;height: 100%;background-color: #3C4B64;position:fixed;z-index:-1;
}

.head .menu{
	width:800px;
	position: absolute;left:70px;top:20px;
}

.head .menu .label2{
	color:#ddd;font-size: 13px;text-decoration: none;position: relative;
	padding: 20px 5px 20px 5px;
}
.head .menu .label2:hover{
	color:#fff;
}
.head .menu .label2:active{
	border-bottom: 3px solid #fff;
}

.head .menu .fit{
	margin-left: 35px;
}

.center{
	width:100%;height:100%;padding:15px;
    position: fixed;
    margin-left: 190px;    z-index: -1;
}

.head .company{
	position: absolute;right:227px;top:0px;color: #fff;height: 60px;line-height: 60px;
	padding-right: 20px; border-right: 1px solid #364050;
}
.head .company > div{
	display: inline-block;
}
.head .company .img{
	background-image: url("/plant-admin/static/images/company16.png");width:16px;height:16px;background-size:100%;
	background-repeat: no-repeat;margin-bottom: -3px;
}

.head .help{
	cursor:pointer;
	position: absolute;right:0px;top:0px;color: #fff;height: 60px;line-height: 60px;width: 80px;text-align: right;
}
.head .help .img{
	background-image: url("/plant-admin/static/images/select.png");width:12px;height:12px;background-size:100%;
	background-repeat: no-repeat;
	position: absolute;right:10px;top:26px;
}

.head .index{
	cursor:pointer;border-right: 1px solid #364050;
	position: absolute;right:78px;top:0px;color: #fff;height: 60px;line-height: 60px;width: 150px;text-align: left;
}
.head .index .img{
	background-image: url("/plant-admin/static/images/select.png");width:12px;height:12px;background-size:100%;
	background-repeat: no-repeat;
	position: absolute;right:10px;top:26px;
}


.abc {
  border-color: -webkit-linear-gradient(left, red , blue); /* Safari 5.1 - 6.0 */
  border-color: -o-linear-gradient(right, red, blue); /* Opera 11.1 - 12.0 */
  border-color: -moz-linear-gradient(right, red, blue); /* Firefox 3.6 - 15 */
  border-color: linear-gradient(to right, red , blue); /* 鏍囧噯鐨勮娉�*/
}

.left li{list-style: none;cursor: pointer;color: #fff;height: 36px; line-height: 36px;cursor: pointer;}
.left li:hover{background: #2a3445;}
.left li img{width:20px;height:20px;}
.left li {color: #fff;text-align: left;font-size: 13px;padding-left: 15px;}
.left li label{font-size: 14px;font-weight: 500;margin-left: 10px;cursor: pointer;}
/* zxf */
.head .bonu_pub:hover{background: #313a49;}
.bonu_pub .bounces{height: 90px;line-height: 90px;width: 150px;z-index: 1;background:#202939;border-radius: 2px;opacity: 0.88;}
.bonu_pub .bounces li{list-style:none;height:50%;line-height: 45px;text-align: center;padding: 0 4px;}
.boun_ul{padding:0;height:100%;}
.bonu_pub .bounces li>a{display: block;width: 100%;height: 100%;border-bottom: 1px solid #364050;color: #fff; text-decoration:none;}
a:hover{ text-decoration:none;}
.bonu_pub .bounces li:hover{background:#313a49;opacity: 0.88;}
.help .bounces{height: 90px;line-height: 90px;width: 80px;z-index: 1;background:#202939;border-radius: 2px;opacity: 0.88;}









