@charset "utf-8";
*{margin:0;padding:0;box-sizing:border-box;}
.lf{float:left;}
.rt{float:right;}
.container{margin:0 auto;}
body{font-family: "Helvetica","Tahoma","Arial","PingFang SC","Microsoft JhengHei","SimSun","sans-serif";}
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none;}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}
html{
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing;
    box-sizing:border-box;
}
body {
    min-width:1100px;
    box-sizing:border-box;
    line-height: 1;
    color: black;
    background: white;
    height: 100%;
    -webkit-font-smoothing;
    box-sizing:border-box;
    font-size: 12px;
    color: #434343;

}
img {border: none;}
ul, ol, li {list-style-type:none;vertical-align:0;}
a {outline-style:none;color:#535353;text-decoration:none;}
a:hover { color: #D40000; text-decoration: none;}
/*公用样式end*/


.account-login-page {
    background-color: #ebeff2;
    width: 100%;
    height: 100%;
    position: absolute;
}
.account-login-page .head-part {
    height: 60px;
    padding: 10px 40px 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}
.account-login-page .head-part .title {
    font-size: 20px;
    color: #32b5c5;
    margin-left: 8px;
}
.account-login-page .body-part {
    width: 100%;
}
.account-login-form {
    width: 550px;
    padding-bottom: 30px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 hsla(0,0%,77%,.5);
    border: 1px solid #e1e1e1;
    margin: auto;
    margin-top: 150px;
}
.account-login-form .head-part-f0 {
    height: 50px;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.account-login-form .head-part-f0 .title {
    width: 180px;
    margin-left: 60px;
    font-size: 16px;
    color: #32b5c5;
}
.account-login-form .body-part-f1 {
    padding: 26px 60px 0;
}

.ant-form-horizontal .ant-form-item:after, .ant-form-horizontal .ant-form-item:before {
    content: " ";
    display: table;
}
.ant-row:after, .ant-row:before {
    content: " ";
    display: table;
}
*, :after, :before {
    box-sizing: border-box;
}
.account-login-form .body-part-f1 .ant-form-item {
    margin-bottom: 18px;
}

.account-login-form .body-part-f1 .t-title {
    width: 342px;
    height: 17px;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
}
.ant-form-horizontal .ant-form-item {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
}
.ant-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
}
default.theme.css:1
.ant-form-item {
    /* font-size: 12px; */
    margin-bottom: 24px;
    color: #666;
}
.ant-col-24 {
    display: block;
    width: 100%;
}

.ant-form-item-control {
    line-height: 32px;
    position: relative;
    zoom: 1;
}
.account-login-form .body-part-f1 .input-fix {
    border-radius: 0;
    width: 100%;
}

.ant-input {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 100%;
    height: 28px;
    cursor: text;
    font-size: 12px;
    line-height: 1.5;
    color: #545454;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    -webkit-transition: border .2s cubic-bezier(.645,.045,.355,1),background .2s cubic-bezier(.645,.045,.355,1),box-shadow .2s cubic-bezier(.645,.045,.355,1);
    transition: border .2s cubic-bezier(.645,.045,.355,1),background .2s cubic-bezier(.645,.045,.355,1),box-shadow .2s cubic-bezier(.645,.045,.355,1);
}
.ant-input-lg {
    padding: 6px 7px;
    height: 32px;
}
.account-login-form .body-part-f1 .t-title {
    width: 342px;
    height: 17px;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
}
.ant-input:focus, .ant-input:hover {
    border-color: #5bc4d1;
}
.ant-input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(50,181,197,.2);
}
.account-login-form .body-part-f1 .b-login {
    margin-top: 38px;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background-color: #32b5c5;
    font-size: 16px;
    color: #fff;
    border: 0;
}
.ant-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #545454;
    background-color: #f1f1f1;
    border-color: #dcdcdc;
}




