.vui-table{
	border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
.vui-table td, .vui-table th{
    border: 1px solid #e6e6e6;
    color: #666;
    height: 30px;padding: 0px;
}
.vui-table th{
    background-color: #f2f2f2;
    width: 100px;
}
.vui-table tr{
    height: 39px;
}
/*.vui-table tr:nth-child(odd){
    background: #fff;
}
.vui-table tr:nth-child(even){
    background: #F5FAFA;
}*/
.vui-table .page{
	width:100%;
	height:100%;padding: 9px;text-align: left;
}
.vui-table .page a{
	text-decoration:none;
}
.vui-table .page .first{
	color: #d2d2d2!important;cursor: not-allowed!important;padding: 4px 12px;
}
.vui-table .page .last{
	color: #333!important;cursor: pointer!important;padding: 4px 12px;
}
.vui-table .page .last:hover{
	color: #009688!important;
}
.vui-table .page .text{
	    background-color: #009688;cursor: default!important;
    padding: 4px 10px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
}
.vui-table .page .btn{
	    background-color: none;cursor: pointer!important;
    padding: 4px 10px;
    border-radius: 2px;
    color: #333;
    font-size: 12px;
}
.vui-table .page .btn:hover{
	color: #009688;
}
.vui-table .page .input:hover{
	border: 1px solid #009688;
}
.vui-table .page .input{
	width: 40px;
	height: 26px;
    line-height: 26px;
    display: inline-block;
    width: 40px;
    margin: 0 10px;
    padding: 0 3px;
    text-align: center;
    border-radius: 2px;
    vertical-align: top;
    background-color: #fff;
    box-sizing: border-box;border: 1px solid #e2e2e2;font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
.vui-table .page .ok{
	padding: 0 10px;height: 26px;cursor: pointer;
    line-height: 26px;margin-left: 10px;
    padding: 0 10px;
    cursor: pointer;border-radius: 2px;
    vertical-align: top;
    background-color: #fff;
    box-sizing: border-box;border: 1px solid #e2e2e2;align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
}

.vui-table .editext{
	border: 1px solid #5FB878;outline:none
}
.vui-table .editext:active{
	border: 1px solid #5FB878;
}

/* #5FB878 */