*{
	margin:0px;
	padding: 0px;
	border: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, :after, :before {
    box-sizing: border-box;
}

html,body{
	height: 100%;
}

body{
	font-family: SF UI Display,PingFang SC,Neue Haas Grotesk Text Pro,Arial Nova,Segoe UI,Microsoft YaHei,Microsoft JhengHei,Helvetica,Hiragino Sans GB,Helvetica Neue,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,sans-serif!important;
}

div{
	font-size:13px;color:#545454;
}

a{
	text-decoration: none;cursor: pointer;
}

ul,li {
list-style:none; /* 将默认的列表符号去掉 */
padding:0; /* 将默认的内边距去掉 */
margin:0; /* 将默认的外边距去掉 */
}

input{
	vertical-align: middle;
}

.grid-out{
	padding-top: 40px;
}
.grid, .grid * {
	margin: 0 auto; padding: 0;font-size: 14px;font-family: Arial, 宋体, Helvetica, sans-serif;
}   
.grid {
	display: table; width: 100%; border-collapse: collapse;
}   
.grid-tr {display: table-row;}    
.grid-tr:hover{
	background-color: #ebf8f9;
}
.grid-tr-head {display: table-row;}   
.grid-th {
	display: table-cell;font-weight: bold;
	text-align: center;vertical-align: middle;
	background-color: #f7f7f7;height: 30px;font-size: 13px;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;box-sizing: border-box;
}   
.grid-tr-ligh{
	background-color: #f6f8fa;
}
.grid-td {
	display: table-cell; height: 100%;
	text-align: center;vertical-align: middle;height: 38px;
	font-size: 12px;border-bottom: 1px solid #dcdcdc;
}  

.grid .grid-opt-a{
	text-decoration: none;margin-left: 15px;font-size: 12px;
}

.grid .grid-a-denger{
	color: #f17b7b;
}

.grid .grid-a-normal{
	color: #32b5c5;
}

.hrms-page{
	text-align: center;
    float: right;
    margin-right: 20px;
}
.hrms-page a{
	text-decoration: none;
    float: left;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #F7F8E7;
    border: 1px solid #F7F8E7;
    color: #000;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 600;
}

.page-out{
	margin-top: 13px;
}

.hrms-page span {
    float: left;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 14px;border-radius: 4px;
}

.hrms-page .active {
    float: left;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #32b5c5;
    color: #fff;font-weight: 600;
    font-size: 14px;
    border: 1px solid #32b5c5;border-radius: 4px;
}

.hrms-input{
	border: 1px solid #dcdcdc;border-radius: 5px;outline:none;height: 32px;width: 100%;
	padding-left: 10px;
} 

.hrms-input:hover,.hrms-input:focus{
	    border: 1px solid #5bc4d1;
}

.center{
	background-color: #fff;width:100%;height:100%;    border-radius: 4px;
	border:1px solid #e6e6e6;box-sizing: border-box;
}

.center .query{
	margin:0px auto;width: 100%;padding: 15px;
}
.center .title{
	    height: 50px;
    line-height: 30px;
	margin:0px auto;width: 100%;padding: 10px;border-bottom:1px solid #e6e6e6;display: inline-block;
}

.center .detail{
	text-align: center;
}

.center .detail .detail-row > div{
	float:left;    height: 50px;
    line-height: 50px;
}

.center .detail .detail-row{
	display: inline-block;
}
    

.center .detail .detail-row-100{
	width:100%;
}

.detail-col-30{
	width: 30%;
}

.detail-col-left{
	text-align: left;
}
.detail-col-left-pad{
	text-align: left;
	padding-left: 15px;
}

.detail-col-center{
	text-align: center;
}

.detail-col-right{
	text-align: right;
}

.detail-col4{
	width: 40%;
}

.center .title > div{
	float: left;
}

.center .title .btn{
	float: right;
}

.center .query .column{
	width: 30%;height: 40px;
    padding: 4px;float: left;
}

.center .query .column-btn{
	width: 10%;height: 40px;
    padding: 4px;float: left;
    padding: 6px;
    float: left;
    padding-left: 34px;
}

.btn{
	    height: 28px;
    width: 60px;
    background-color: #30acbb;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 28px;cursor: pointer;
    -moz-user-select: none;
-khtml-user-select: none;
user-select: none;    margin-left: 15px;
}

.btn:hover{
	background-color: #5bc4d1;
}

.btn:active{
	box-shadow: 0 1px 10px #5bc4d1;
}

.center .query .column > div{
	float: left;
}

.center .query .column .column-left{
	width: 23%;    height: 32px;
    padding: 7px;
    text-align: right;
    font-size: 13px;
}

.center .query .column .column-right{
	width: 77%;line-height: 32px;
}