<?xml version="1.0" encoding="UTF-8"?>
<!--${dtd}-->
<mapper namespace="com.dlts.hrms.mapper.SysDepartmentMapper">

  <sql id="Base_Column_List">
    id,company_id,parent_id,name,master,phone,fax,email,create_by,create_date,update_by,update_date,remarks
  </sql>
  
  <insert id="insert" parameterType="com.dlts.hrms.entity.SysDepartment">
    insert into sys_area (id,company_id,parent_id,name,master,phone,fax,email,create_by,create_date,update_by,update_date,remarks) values (#{id},#{company_id},#{parent_id},#{name},#{master},#{phone},#{fax},#{email},#{create_by},#{create_date},#{update_by},#{update_date},#{remarks})
  </insert>
  
  <update id="updateSelective" parameterType="com.dlts.hrms.entity.SysDepartment">
    update sys_department <set><if test="id != null">id = #{id},</if><if test="companyId != null">company_id = #{companyId},</if><if test="parentId != null">parent_id = #{parentId},</if><if test="name != null">name = #{name},</if><if test="master != null">master = #{master},</if><if test="phone != null">phone = #{phone},</if><if test="fax != null">fax = #{fax},</if><if test="email != null">email = #{email},</if><if test="createBy != null">create_by = #{createBy},</if><if test="createDate != null">create_date = #{createDate},</if><if test="updateBy != null">update_by = #{updateBy},</if><if test="updateDate != null">update_date = #{updateDate},</if><if test="remarks != null">remarks = #{remarks},</if></set> where id = #{id}
  </update>
  
  <update id="update" parameterType="com.dlts.hrms.entity.SysDepartment">
    update sys_department set id=#{id},company_id=#{companyId},parent_id=#{parentId},name=#{name},master=#{master},phone=#{phone},fax=#{fax},email=#{email},create_by=#{createBy},create_date=#{createDate},update_by=#{updateBy},update_date=#{updateDate},remarks=#{remarks} where id = #{id}
  </update>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from sys_department where id = #{id}
  </delete>
  
  <delete id="deleteSelective" parameterType="com.dlts.hrms.entity.SysDepartment">
    delete from sys_department  where 1=1 <if test="id!=null">and id=#{id}</if><if test="companyId!=null">and company_id=#{companyId}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="name!=null">and name=#{name}</if><if test="master!=null">and master=#{master}</if><if test="phone!=null">and phone=#{phone}</if><if test="fax!=null">and fax=#{fax}</if><if test="email!=null">and email=#{email}</if><if test="createBy!=null">and create_by=#{createBy}</if><if test="createDate!=null">and create_date=#{createDate}</if><if test="updateBy!=null">and update_by=#{updateBy}</if><if test="updateDate!=null">and update_date=#{updateDate}</if><if test="remarks!=null">and remarks=#{remarks}</if>
  </delete>
  
  <select id="getById" parameterType="java.lang.String" resultType="com.dlts.hrms.entity.SysDepartment">
    select <include refid="Base_Column_List" /> from sys_department where id = #{id}
  </select>
  
  <select id="get" parameterType="com.dlts.hrms.entity.SysDepartment" resultType="com.dlts.hrms.entity.SysDepartment">
    select <include refid="Base_Column_List" /> from sys_department  where 1=1 <if test="id!=null">and id=#{id}</if><if test="companyId!=null">and company_id=#{companyId}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="name!=null">and name=#{name}</if><if test="master!=null">and master=#{master}</if><if test="phone!=null">and phone=#{phone}</if><if test="fax!=null">and fax=#{fax}</if><if test="email!=null">and email=#{email}</if><if test="createBy!=null">and create_by=#{createBy}</if><if test="createDate!=null">and create_date=#{createDate}</if><if test="updateBy!=null">and update_by=#{updateBy}</if><if test="updateDate!=null">and update_date=#{updateDate}</if><if test="remarks!=null">and remarks=#{remarks}</if>
  </select>
  
  <select id="select" parameterType="com.dlts.hrms.entity.SysDepartment" resultType="com.dlts.hrms.entity.SysDepartment">
    select <include refid="Base_Column_List" /> from sys_department  where 1=1 <if test="id!=null">and id=#{id}</if><if test="companyId!=null">and company_id=#{companyId}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="name!=null">and name=#{name}</if><if test="master!=null">and master=#{master}</if><if test="phone!=null">and phone=#{phone}</if><if test="fax!=null">and fax=#{fax}</if><if test="email!=null">and email=#{email}</if><if test="createBy!=null">and create_by=#{createBy}</if><if test="createDate!=null">and create_date=#{createDate}</if><if test="updateBy!=null">and update_by=#{updateBy}</if><if test="updateDate!=null">and update_date=#{updateDate}</if><if test="remarks!=null">and remarks=#{remarks}</if>
  </select>
  
  <select id="count" parameterType="com.dlts.hrms.entity.SysDepartment" resultType="java.lang.Integer">
    select count(1) from sys_department  where 1=1 <if test="id!=null">and id=#{id}</if><if test="companyId!=null">and company_id=#{companyId}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="name!=null">and name=#{name}</if><if test="master!=null">and master=#{master}</if><if test="phone!=null">and phone=#{phone}</if><if test="fax!=null">and fax=#{fax}</if><if test="email!=null">and email=#{email}</if><if test="createBy!=null">and create_by=#{createBy}</if><if test="createDate!=null">and create_date=#{createDate}</if><if test="updateBy!=null">and update_by=#{updateBy}</if><if test="updateDate!=null">and update_date=#{updateDate}</if><if test="remarks!=null">and remarks=#{remarks}</if>
  </select>
  
  <!--gen-e-1-w-0-->
  ${gen}
  <!--gen-e-1-w-1-->
  
</mapper>