<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlts.hrms.mapper.SysDictMapper">

  <sql id="Base_Column_List">
    id,value,name,code,parent_id,remarks
  </sql>
  
  <insert id="insert" parameterType="com.dlts.hrms.entity.SysDict">
    insert into sys_dict (id,value,name,code,parent_id,remarks) values (#{id},#{value},#{name},#{code},#{parentId},#{remarks})
  </insert>
  
  <update id="updateSelective" parameterType="com.dlts.hrms.entity.SysDict">
    update sys_dict <set><if test="id != null">id = #{id},</if><if test="value != null">value = #{value},</if><if test="name != null">name = #{name},</if><if test="code != null">code = #{code},</if><if test="parentId != null">parent_id = #{parentId},</if><if test="remarks != null">remarks = #{remarks},</if></set> where id = #{id}
  </update>
  
  <update id="update" parameterType="com.dlts.hrms.entity.SysDict">
    update sys_dict set id=#{id},value=#{value},name=#{name},code=#{code},parent_id=#{parentId},remarks=#{remarks} where id = #{id}
  </update>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from sys_dict where id = #{id}
  </delete>
  
  <update id="deleteLogic" parameterType="java.lang.String">
    update sys_dict set delete_flag = 0 where id = #{id}
  </update>
  
  <delete id="deleteSelective" parameterType="com.dlts.hrms.entity.SysDict">
    delete from sys_dict  where 1=1 <if test="id!=null">and id=#{id}</if><if test="value!=null">and value=#{value}</if><if test="name!=null">and name=#{name}</if><if test="code!=null">and code=#{code}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="remarks!=null">and remarks=#{remarks}</if>
  </delete>
  
  <select id="getById" parameterType="java.lang.String" resultType="com.dlts.hrms.entity.SysDict">
    select <include refid="Base_Column_List" /> from sys_dict where id = #{id}
  </select>
  
  <select id="get" parameterType="com.dlts.hrms.entity.SysDict" resultType="com.dlts.hrms.entity.SysDict">
    select <include refid="Base_Column_List" /> from sys_dict  where 1=1 <if test="id!=null">and id=#{id}</if><if test="value!=null">and value=#{value}</if><if test="name!=null">and name=#{name}</if><if test="code!=null">and code=#{code}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="remarks!=null">and remarks=#{remarks}</if>
  </select>
  
  <select id="select" parameterType="com.dlts.hrms.entity.SysDict" resultType="com.dlts.hrms.entity.SysDict">
    select <include refid="Base_Column_List" /> from sys_dict  where 1=1 <if test="id!=null">and id=#{id}</if><if test="value!=null">and value=#{value}</if><if test="name!=null">and name=#{name}</if><if test="code!=null">and code=#{code}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="remarks!=null">and remarks=#{remarks}</if>
  </select>
  
  <select id="count" parameterType="com.dlts.hrms.entity.SysDict" resultType="java.lang.Integer">
    select count(1) from sys_dict  where 1=1 <if test="id!=null">and id=#{id}</if><if test="value!=null">and value=#{value}</if><if test="name!=null">and name=#{name}</if><if test="code!=null">and code=#{code}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="remarks!=null">and remarks=#{remarks}</if>
  </select>
  
  <!--gen-e-1-w-0-->
  
  <!--gen-e-1-w-1-->
  
</mapper>