<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlts.hrms.mapper.SysMenuMapper">

  <sql id="Base_Column_List">
    id,parent_id,name,sort,href,icon
  </sql>
  
  <insert id="insert" parameterType="com.dlts.hrms.entity.SysMenu">
    insert into sys_area (id,parent_id,name,sort,href,icon) values (#{id},#{parent_id},#{name},#{sort},#{href},#{icon})
  </insert>
  
  <update id="updateSelective" parameterType="com.dlts.hrms.entity.SysMenu">
    update sys_menu <set><if test="id != null">id = #{id},</if><if test="parentId != null">parent_id = #{parentId},</if><if test="name != null">name = #{name},</if><if test="sort != null">sort = #{sort},</if><if test="href != null">href = #{href},</if><if test="icon != null">icon = #{icon},</if></set> where id = #{id}
  </update>
  
  <update id="update" parameterType="com.dlts.hrms.entity.SysMenu">
    update sys_menu set id=#{id},parent_id=#{parentId},name=#{name},sort=#{sort},href=#{href},icon=#{icon} where id = #{id}
  </update>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from sys_menu where id = #{id}
  </delete>
  
  <delete id="deleteSelective" parameterType="com.dlts.hrms.entity.SysMenu">
    delete from sys_menu  where 1=1 <if test="id!=null">and id=#{id}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="name!=null">and name=#{name}</if><if test="sort!=null">and sort=#{sort}</if><if test="href!=null">and href=#{href}</if><if test="icon!=null">and icon=#{icon}</if>
  </delete>
  
  <select id="getById" parameterType="java.lang.String" resultType="com.dlts.hrms.entity.SysMenu">
    select <include refid="Base_Column_List" /> from sys_menu where id = #{id}
  </select>
  
  <select id="get" parameterType="com.dlts.hrms.entity.SysMenu" resultType="com.dlts.hrms.entity.SysMenu">
    select <include refid="Base_Column_List" /> from sys_menu  where 1=1 <if test="id!=null">and id=#{id}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="name!=null">and name=#{name}</if><if test="sort!=null">and sort=#{sort}</if><if test="href!=null">and href=#{href}</if><if test="icon!=null">and icon=#{icon}</if>
  </select>
  
  <select id="select" parameterType="com.dlts.hrms.entity.SysMenu" resultType="com.dlts.hrms.entity.SysMenu">
    select <include refid="Base_Column_List" /> from sys_menu  where 1=1 <if test="id!=null">and id=#{id}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="name!=null">and name=#{name}</if><if test="sort!=null">and sort=#{sort}</if><if test="href!=null">and href=#{href}</if><if test="icon!=null">and icon=#{icon}</if>
  </select>
  
  <select id="count" parameterType="com.dlts.hrms.entity.SysMenu" resultType="java.lang.Integer">
    select count(1) from sys_menu  where 1=1 <if test="id!=null">and id=#{id}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="name!=null">and name=#{name}</if><if test="sort!=null">and sort=#{sort}</if><if test="href!=null">and href=#{href}</if><if test="icon!=null">and icon=#{icon}</if>
  </select>
  
  <!--gen-e-1-w-0-->
  <select id="findUserMenu" parameterType="map" resultType="com.dlts.hrms.entity.SysMenu">
    select m.* 
      from sys_user_role ur,sys_role_menu rm,sys_menu m
	  where ur.role_id = rm.role_id
	    and rm.menu_id = m.id
	    and ur.user_id = #{userId}
	    order by m.id
  </select>
  <!--gen-e-1-w-1-->
  
</mapper>