<?xml version="1.0" encoding="UTF-8"?>
<!--${dtd}-->
<mapper namespace="com.dlts.hrms.mapper.SysRoleMenuMapper">

  <sql id="Base_Column_List">
    role_id,menu_id
  </sql>
  
  <insert id="insert" parameterType="com.dlts.hrms.entity.SysRoleMenu">
    insert into sys_area (role_id,menu_id) values (#{role_id},#{menu_id})
  </insert>
  
  <update id="updateSelective" parameterType="com.dlts.hrms.entity.SysRoleMenu">
    update sys_role_menu <set><if test="roleId != null">role_id = #{roleId},</if><if test="menuId != null">menu_id = #{menuId},</if></set> where id = #{id}
  </update>
  
  <update id="update" parameterType="com.dlts.hrms.entity.SysRoleMenu">
    update sys_role_menu set role_id=#{roleId},menu_id=#{menuId} where id = #{id}
  </update>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from sys_role_menu where id = #{id}
  </delete>
  
  <delete id="deleteSelective" parameterType="com.dlts.hrms.entity.SysRoleMenu">
    delete from sys_role_menu  where 1=1 <if test="roleId!=null">and role_id=#{roleId}</if><if test="menuId!=null">and menu_id=#{menuId}</if>
  </delete>
  
  <select id="getById" parameterType="java.lang.String" resultType="com.dlts.hrms.entity.SysRoleMenu">
    select <include refid="Base_Column_List" /> from sys_role_menu where id = #{id}
  </select>
  
  <select id="get" parameterType="com.dlts.hrms.entity.SysRoleMenu" resultType="com.dlts.hrms.entity.SysRoleMenu">
    select <include refid="Base_Column_List" /> from sys_role_menu  where 1=1 <if test="roleId!=null">and role_id=#{roleId}</if><if test="menuId!=null">and menu_id=#{menuId}</if>
  </select>
  
  <select id="select" parameterType="com.dlts.hrms.entity.SysRoleMenu" resultType="com.dlts.hrms.entity.SysRoleMenu">
    select <include refid="Base_Column_List" /> from sys_role_menu  where 1=1 <if test="roleId!=null">and role_id=#{roleId}</if><if test="menuId!=null">and menu_id=#{menuId}</if>
  </select>
  
  <select id="count" parameterType="com.dlts.hrms.entity.SysRoleMenu" resultType="java.lang.Integer">
    select count(1) from sys_role_menu  where 1=1 <if test="roleId!=null">and role_id=#{roleId}</if><if test="menuId!=null">and menu_id=#{menuId}</if>
  </select>
  
  <!--gen-e-1-w-0-->
  ${gen}
  <!--gen-e-1-w-1-->
  
</mapper>