body,html{
	padding: 0px;margin: 0px;height: 100%;font-family: SF UI Display,PingFang SC,Neue Haas Grotesk Text Pro,Arial Nova,Segoe UI,Microsoft YaHei,Microsoft JhengHei,Helvetica,Hiragino Sans GB,Helvetica Neue,Source Han Sans SC,Noto Sans CJK SC,Source Han Sans CN,Noto Sans SC,Source Han Sans TC,Noto Sans CJK TC,sans-serif!important;
    background-color:#ebeff2;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;    font: inherit;
    margin: 0;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 13px;
}

/**index  start**/

img{
	background-size: 100%;
}

.vui-layout-body > div{
	position: absolute;left: 0px;top: 0px;
}
.vui-layout-top{
	width: 100%;height:60px;background-color: #202939;z-index: 10003;color:#FFFFFF;
	box-shadow: 0 1px 10px #2a3445;
}
.vui-layout-left{
	z-index: 10002;padding: 60px 15px 15px 15px;box-sizing:border-box;color:#FFFFFF;
	width:190px;
	height: 100%;background-color: #3c4b64;
}
.vui-layout-center{
	width:100%;z-index: 10001;box-sizing:border-box;padding: 60px 0px 0px 190px;
	height: 100%;background-color: #f5f5f5;
}
.vui-layout-center .content-out{
	width: 100%;height: 100%;padding: 15px;box-sizing:border-box;
}

.vui-layout-center .content-out .content{
	width: 100%;height: 100%;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}

.vui-layout-top > .logo{
	margin-top:15px;margin-left: 17px;position: absolute;
}
.vui-layout-top > .menu{
	margin-left:118px;
}
.vui-layout-top > .menu ul{
	font-size: 13px;
    color: #ddd;
    background: none;border: none;outline: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.vui-layout-top > .menu ul li{
	list-style: none;color: #ddd;
    border-bottom: 3px solid #202939!important;margin-right: 30px;padding: 0 10px;
    height: 60px;float: left;box-sizing:border-box;line-height: 60px;cursor: pointer;
}

.vui-layout-top > .menu ul li:hover{
	color: #fff;
}

.vui-layout-top > .menu ul .active{
    border-bottom: 3px solid #fff!important;color: #fff;
}

.vui-layout-top > div{
	display: inline-block;
}
.vui-layout-top .left{
	font-size: 12px;
	position: absolute;
    right: 0px;    line-height: 60px;
}
.vui-layout-top .left > div{
	display: inline-block;width: 115px;
}
    
/**index  end**/

/**table  start**/

.vui-table-row{
    display: table-row;
}

.vui-table-cell{
    display: table-cell;
}

.vui-table{
    display: table;
    width: 100%;
	border-collapse: collapse;
    margin: 0 auto;
    text-align: center;border-spacing: 0px;
}
.vui-table-head{
    background-color: #f2f2f2;
}
.vui-table .vui-table-row, .vui-table .vui-table-cell{
    border: 1px solid #e6e6e6;
    color: #666;
    height: 35px;padding: 0px;vertical-align: middle;
}
/*.vui-table tr:nth-child(odd){
    background: #fff;
}
.vui-table tr:nth-child(even){
    background: #F5FAFA;
}*/
.page{
	width:100%;
	height:100%;padding: 9px;text-align: left;
}
.page a{
	text-decoration:none;
}
.page .first{
	color: #d2d2d2!important;cursor: not-allowed!important;padding: 4px 12px;
}
.page .last{
	color: #333!important;cursor: pointer!important;padding: 4px 12px;
}
.page .last:hover{
	color: #009688!important;
}
.page .text{
	    background-color: #009688;cursor: default!important;
    padding: 4px 10px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
}
.page .btn{
    cursor: pointer!important;
    padding: 4px 10px;
    border-radius: 2px;
    color: #333;
    font-size: 12px;
}
.page .btn:hover{
	color: #009688;
}
.page .input:hover{
	border: 1px solid #009688;
}
.page .input{
	width: 40px;
	height: 26px;
    line-height: 26px;
    display: inline-block;
    width: 40px;
    margin: 0 10px;
    padding: 0 3px;
    text-align: center;
    border-radius: 2px;
    vertical-align: top;
    background-color: #fff;
    box-sizing: border-box;border: 1px solid #e2e2e2;font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
 .page .ok{
	padding: 0 10px;height: 26px;cursor: pointer;
    line-height: 26px;margin-left: 10px;
    padding: 0 10px;
    cursor: pointer;border-radius: 2px;
    vertical-align: top;
    background-color: #fff;
    box-sizing: border-box;border: 1px solid #e2e2e2;align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
}

.editext{
	border: 1px solid #5FB878;outline:none
}
.editext:active{
	border: 1px solid #5FB878;
}

/* #5FB878 */
/**table  end**/

/* form start*/
.vui-field{
    border: 1px solid #e6e6e6;
    margin-bottom: 10px;
    font-size: 13px;padding: 0px 0px 15px 15px;
}

.vui-from-table{
    display: table;
    padding: 10px 20px 20px 30px;
}

.vui-form-row{
    display: table-row;
}
.vui-form-cell{
    display: table-cell;
    text-align: right;
    padding: 15px 15px 0px 0px;
}
.vui-form-cell .input{
    position: relative;
    display: inline-block;
    padding: 6px 7px;overflow: visible;
    height: 32px;
    width: 240px;
    cursor: text;margin: 0;
    font-size: 12px;
    line-height: 1.5;
    color: #545454;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdcdc;
    border-radius: 5px;box-sizing: border-box;
    -webkit-transition: border .2s cubic-bezier(.645,.045,.355,1),background .2s cubic-bezier(.645,.045,.355,1),box-shadow .2s cubic-bezier(.645,.045,.355,1);
    transition: border .2s cubic-bezier(.645,.045,.355,1),background .2s cubic-bezier(.645,.045,.355,1),box-shadow .2s cubic-bezier(.645,.045,.355,1);
}

.vui-form-cell .input:focus,.vui-form-cell .input:hover {
    outline: none;
    border: 1px solid #32b5c5;
}

.button{
    color: #fff;
    background-color: #32b5c5;
    border-color: #32b5c5;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    text-transform: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin-right:15px;

}
.button:focus,.button:hover{
    outline: none;
    background-color: #30acbb;
    border-color: #30acbb;
}

.vui-form-cell .label{
    font-size: 13px;
}
.required{
    color: red;
}

.vui-opt-edit{
    color: #32b5c5;
}

.vui-opt{
    margin-right: 21px;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;font-size: 12px;
}
.vui-opt-del{
    color: #f17b7b;
}

/* form end*/

/* label start */
.label-success {
    background-color: #5cb85c;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-danger {
    background-color: #d9534f;
}
.label-info {
    background-color: #5bc0de;
}
.label-primary {
    background-color: #337ab7;
}
.label-default {
    background-color: #777;
}
.label-status {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
/* label end */