<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlts.hrms.mapper.SysDictMapper">

  <sql id="Base_Column_List">
    id,value,label,type,description,sort,parent_id,create_by,create_date,update_by,update_date,remarks,del_flag
  </sql>
  
  <select id="getById" parameterType="java.lang.String" resultType="com.dlts.hrms.entity.SysDict">
    select <include refid="Base_Column_List" /> from sys_dict where id = #{id}
  </select>
  
  <select id="get" parameterType="com.dlts.hrms.entity.SysDict" resultType="com.dlts.hrms.entity.SysDict">
    select <include refid="Base_Column_List" /> from sys_dict  where 1=1 <if test="id!=null">and id=#{id}</if><if test="value!=null">and value=#{value}</if><if test="label!=null">and label=#{label}</if><if test="type!=null">and type=#{type}</if><if test="description!=null">and description=#{description}</if><if test="sort!=null">and sort=#{sort}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="createBy!=null">and create_by=#{createBy}</if><if test="createDate!=null">and create_date=#{createDate}</if><if test="updateBy!=null">and update_by=#{updateBy}</if><if test="updateDate!=null">and update_date=#{updateDate}</if><if test="remarks!=null">and remarks=#{remarks}</if><if test="delFlag!=null">and del_flag=#{delFlag}</if>
  </select>
  
  <select id="select" parameterType="com.dlts.hrms.entity.SysDict" resultType="com.dlts.hrms.entity.SysDict">
    select <include refid="Base_Column_List" /> from sys_dict  where 1=1 <if test="id!=null">and id=#{id}</if><if test="value!=null">and value=#{value}</if><if test="label!=null">and label=#{label}</if><if test="type!=null">and type=#{type}</if><if test="description!=null">and description=#{description}</if><if test="sort!=null">and sort=#{sort}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="createBy!=null">and create_by=#{createBy}</if><if test="createDate!=null">and create_date=#{createDate}</if><if test="updateBy!=null">and update_by=#{updateBy}</if><if test="updateDate!=null">and update_date=#{updateDate}</if><if test="remarks!=null">and remarks=#{remarks}</if><if test="delFlag!=null">and del_flag=#{delFlag}</if>
  </select>
  
  <select id="count" parameterType="com.dlts.hrms.entity.SysDict" resultType="java.lang.Integer">
    select count(1) from sys_dict  where 1=1 <if test="id!=null">and id=#{id}</if><if test="value!=null">and value=#{value}</if><if test="label!=null">and label=#{label}</if><if test="type!=null">and type=#{type}</if><if test="description!=null">and description=#{description}</if><if test="sort!=null">and sort=#{sort}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="createBy!=null">and create_by=#{createBy}</if><if test="createDate!=null">and create_date=#{createDate}</if><if test="updateBy!=null">and update_by=#{updateBy}</if><if test="updateDate!=null">and update_date=#{updateDate}</if><if test="remarks!=null">and remarks=#{remarks}</if><if test="delFlag!=null">and del_flag=#{delFlag}</if>
  </select>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from sys_dict where id = #{id}
  </delete>
  
  <delete id="deleteSelective" parameterType="com.dlts.hrms.entity.SysDict">
    delete from sys_dict  where 1=1 <if test="id!=null">and id=#{id}</if><if test="value!=null">and value=#{value}</if><if test="label!=null">and label=#{label}</if><if test="type!=null">and type=#{type}</if><if test="description!=null">and description=#{description}</if><if test="sort!=null">and sort=#{sort}</if><if test="parentId!=null">and parent_id=#{parentId}</if><if test="createBy!=null">and create_by=#{createBy}</if><if test="createDate!=null">and create_date=#{createDate}</if><if test="updateBy!=null">and update_by=#{updateBy}</if><if test="updateDate!=null">and update_date=#{updateDate}</if><if test="remarks!=null">and remarks=#{remarks}</if><if test="delFlag!=null">and del_flag=#{delFlag}</if>
  </delete>
  
  <insert id="insert" parameterType="com.dlts.hrms.entity.SysDict">
    insert into sys_area (id,value,label,type,description,sort,parent_id,create_by,create_date,update_by,update_date,remarks,del_flag) values (#{id},#{value},#{label},#{type},#{description},#{sort},#{parent_id},#{create_by},#{create_date},#{update_by},#{update_date},#{remarks},#{del_flag})
  </insert>
  
  <update id="updateSelective" parameterType="com.dlts.hrms.entity.SysDict">
    update sys_dict <set><if test="id != null">id = #{id},</if><if test="value != null">value = #{value},</if><if test="label != null">label = #{label},</if><if test="type != null">type = #{type},</if><if test="description != null">description = #{description},</if><if test="sort != null">sort = #{sort},</if><if test="parentId != null">parent_id = #{parentId},</if><if test="createBy != null">create_by = #{createBy},</if><if test="createDate != null">create_date = #{createDate},</if><if test="updateBy != null">update_by = #{updateBy},</if><if test="updateDate != null">update_date = #{updateDate},</if><if test="remarks != null">remarks = #{remarks},</if><if test="delFlag != null">del_flag = #{delFlag},</if></set> where id = #{id}
  </update>
  
  <update id="update" parameterType="com.dlts.hrms.entity.SysDict">
    update sys_dict set id=#{id},value=#{value},label=#{label},type=#{type},description=#{description},sort=#{sort},parent_id=#{parentId},create_by=#{createBy},create_date=#{createDate},update_by=#{updateBy},update_date=#{updateDate},remarks=#{remarks},del_flag=#{delFlag} where id = #{id}
  </update>
  
  <!--gen-e-1-w-0-->
  
  
  
  <!--gen-e-1-w-1-->
  
</mapper>